#ctp{
	margin: 0;
	padding: 0;
}
h1 {
	color: white;
	background-color: black;
	text-align: center;
	padding: 60px;
}
#information{
	color: white;
	background-color: black;
}
#student{
	color: white;
	background-color: black;
}
#work{
	color: white;
	background-color: black;
}
#mxh{
	color: white;
	background-color: black;
}
#lienhe{
	color:white;
	background-color: black;
}
nav {
	background-color: pink;
	overflow: hidden;
}
nav a {
	color: black;
	padding: 10px 10px 10px 10px;
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;

}
nav a:hover{
	background-color: black;
	color:white;
}
#geo{
	background-color: blueviolet;
	color: white;
}
#latex{
	background-color: blueviolet;
	color: white;
}
#ts{
	background-color: black;
	color: white;
}
#left{
flex: 20%;
background-color: #66CCCC;
}
#right{
flex: 50%;
background-color: #CCFF66;
}
#center{
flex: 30%;
background-color: #FFCCCC6;
}
#flex{
display: flex;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}
footer a{
	color: white;
	text-decoration: none;
}

